docs/HACKATHON_WSDL/HACKATHON_WSDL/CreditCardListMWService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditCardListMWService"
	targetNamespace="http://tempuri.org/CreditCardListMWService"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:oldtns1="http://tempuri.org"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/CreditCardListMWService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>
		<wsdl:appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<binding hasEncoding="false" imported="true"
					name="MS_CreditCardListMWServiceSOAP_HTTP_Binding"
					originalBindingStyle="document" />
			</MRWSDLAppInfo>
		</wsdl:appinfo>
	</wsdl:documentation>


	<wsdl:types>
		<!-- <xsd:schema targetNamespace="http://tempuri.org"
			xmlns:mrm="http://tempuri.org/CreditCardListMWService" xmlns:tns="http://tempuri.org">
			<xsd:include schemaLocation="xsd_xsd0.xsd" />
		</xsd:schema> 
		<xsd:schema targetNamespace="http://tempuri.org"
			xmlns:mrm="http://tempuri.org/CreditCardListMWService">
			<xsd:include schemaLocation="xsd_xsd1.xsd" />
		</xsd:schema> -->
		
		<xsd:schema targetNamespace="http://tempuri.org" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/CreditCardListMWService" xmlns:oldtns1="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="CustId" type="xsd:string"/>
            <xsd:element name="CreditCardNumber" type="xsd:string"/>
            <xsd:element name="ErrorCode" type="xsd:string"/>
            <xsd:element name="cardNumber" type="xsd:string"/>
            <xsd:element name="motherName" type="xsd:string"/>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="firstName" type="xsd:string"/>
            <xsd:element name="lastName" type="xsd:string"/>
            <xsd:element name="addrType" type="xsd:string"/>
            <xsd:element name="address1" type="xsd:string"/>
            <xsd:element name="address2" type="xsd:string"/>
            <xsd:element name="address3" type="xsd:string"/>
            <xsd:element name="address4" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="zip" type="xsd:string"/>
            <xsd:element name="country" type="xsd:string"/>
            <xsd:element name="mobile" type="xsd:string"/>
            <xsd:element name="pan" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="motherMaidenName" type="xsd:string"/>
            <xsd:element name="primayAddon" type="xsd:string"/>
            <xsd:element name="stGeneral" type="xsd:string"/>
            <xsd:element name="stDescription" type="xsd:string"/>
            <xsd:element name="custName" type="xsd:string"/>
            <xsd:element name="productType" type="xsd:string"/>
            <xsd:element name="creditLimit" type="xsd:string"/>
            <xsd:element name="CreditLimitInfo" type="xsd:string"/>
            <xsd:element name="SMSData" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:integer"/>
            <xsd:element name="preferedLoc" type="xsd:string"/>
            <xsd:element name="errMsg" type="xsd:string"/>
            <xsd:element name="appId" type="xsd:string"/>
            <xsd:element name="imageCode" type="xsd:string"/>
            <xsd:complexType name="t_GetCardListReq">
				<xsd:sequence>
					<xsd:element ref="oldtns1:CustId"/>
				</xsd:sequence>
			</xsd:complexType>
            <xsd:element name="ErrorDescription" type="xsd:string"/>
            <xsd:element ibmSchExtn:docRoot="true" name="GetCardListReq" type="oldtns1:t_GetCardListReq"/>
            <xsd:complexType name="t_cardNumbersListResp">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="oldtns1:CardFoundFlag"/>
					<xsd:element minOccurs="0" ref="oldtns1:TotalCards"/>

					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oldtns1:getCreditCardNumber"/>
					<xsd:element minOccurs="0" ref="oldtns1:ErrorCode"/>
					<xsd:element minOccurs="0" ref="oldtns1:ErrorDescription"/>
				</xsd:sequence>
			</xsd:complexType>
            <xsd:element ibmSchExtn:docRoot="true" name="cardNumbersListResp" type="oldtns1:t_cardNumbersListResp"/>
            <xsd:element name="getCreditCardNumber">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oldtns1:CreditCardNumber"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="CardFoundFlag" type="xsd:string"/>
            <xsd:element name="TotalCards" type="xsd:string"/>
            <xsd:element name="GeneratedDate" type="xsd:string"/>
            <xsd:element name="getBillDate">

				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oldtns1:GeneratedDate"/>
					</xsd:sequence>
				</xsd:complexType>


			</xsd:element>
            <xsd:complexType name="t_IncreaseCreditLimitReq">
				<xsd:sequence>
					<xsd:element minOccurs="1" ref="oldtns1:CreditCardNumber"/>
				</xsd:sequence>
			</xsd:complexType>
            <xsd:complexType name="t_creditLimitIncResp">
				<xsd:sequence>
					<xsd:element minOccurs="1" ref="oldtns1:CreditLimitInfo"/>
					<xsd:element minOccurs="1" ref="oldtns1:SMSData"/>
				</xsd:sequence>
			</xsd:complexType>
            <xsd:element ibmSchExtn:docRoot="true" name="IncreaseCreditLimitReq" type="oldtns1:t_IncreaseCreditLimitReq"/>
            <xsd:element ibmSchExtn:docRoot="true" name="creditLimitIncResp" type="oldtns1:t_creditLimitIncResp"/>
        </xsd:schema>
		
		<xsd:schema targetNamespace="http://tempuri.org" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/CreditCardListMWService" xmlns:oldtns1="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/CreditCardListMWService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            																				<xsd:element ibmSchExtn:docRoot="true" name="subHeader" type="oldtns1:t_Header"/>
            <xsd:complexType name="t_Header">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element ref="oldtns1:UniqueId"/>
					<xsd:element ref="oldtns1:ServiceRequestId"/>
					<xsd:element ref="oldtns1:ServiceRequestVersion"/>
					<xsd:element ref="oldtns1:ChannelId"/>
				</xsd:sequence>
			</xsd:complexType>
            <xsd:element name="UniqueId" type="xsd:string"/>
            <xsd:element name="ServiceRequestId" type="xsd:string"/>
            <xsd:element name="ServiceRequestVersion" type="xsd:string"/>
            <xsd:element name="ChannelId" type="xsd:string"/>
             </xsd:schema>
	</wsdl:types>


	<wsdl:message name="subHeader">
		<wsdl:part element="oldtns1:subHeader" name="subHeader" />
	</wsdl:message>

	<wsdl:message name="GetCardListReq_in">
		<wsdl:part element="oldtns1:GetCardListReq" name="GetCardListReq" />
	</wsdl:message>
	<wsdl:message name="GetCardListReq_out">
		<wsdl:part element="oldtns1:cardNumbersListResp" name="cardNumbersListResp" />
	</wsdl:message>

	<wsdl:message name="IncreaseCreditLimitReq_in">
		<wsdl:part element="oldtns1:IncreaseCreditLimitReq" name="IncreaseCreditLimitReq" />
	</wsdl:message>
	<wsdl:message name="IncreaseCreditLimitReq_out">
		<wsdl:part element="oldtns1:creditLimitIncResp" name="creditLimitIncResp" />
	</wsdl:message>



	<wsdl:portType name="MS_CreditCardListMWServicePortType">

		<wsdl:operation name="GetCardListReq">
			<wsdl:input message="tns:GetCardListReq_in" name="GetCardListReq_Input" />
			<wsdl:output message="tns:GetCardListReq_out" name="GetCardListReq_Output" />
		</wsdl:operation>


		<wsdl:operation name="IncreaseCreditLimitReq">
			<wsdl:input message="tns:IncreaseCreditLimitReq_in" name="IncreaseCreditLimitReq_Input" />
			<wsdl:output message="tns:IncreaseCreditLimitReq_out"
				name="IncreaseCreditLimitReq_Output" />
		</wsdl:operation>



	</wsdl:portType>
	<wsdl:binding name="MS_CreditCardListMWServiceSOAP_HTTP_Binding"
		type="tns:MS_CreditCardListMWServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="IncreaseCreditLimitReq">
			<soap:operation soapAction="http://www.axisbank.com/creditLimitReq" />
			<wsdl:input name="IncreaseCreditLimitReq_Input">
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="IncreaseCreditLimitReq_Output">
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCardListReq">
			<soap:operation soapAction="http://www.axisbank.com/GetCardListReq" />
			<wsdl:input name="GetCardListReq_Input">
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetCardListReq_Output">
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>




	</wsdl:binding>
	<wsdl:service name="CreditCardListMWServiceService">
		<wsdl:port binding="tns:MS_CreditCardListMWServiceSOAP_HTTP_Binding"
			name="CreditCardListMWServicePort">
			<soap:address location="http://hackathon.axisbank.com:8523/CreditCardListMWService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>