docs/HACKATHON_WSDL/HACKATHON_WSDL/InternetBankingMWService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InternetBankingMWService"
	targetNamespace="http://tempuri.org" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>
		<wsdl:appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<binding hasEncoding="false" imported="true"
					name="InternetBanking_MSPSOAP_HTTP_Binding" originalBindingStyle="document" />
			</MRWSDLAppInfo>
		</wsdl:appinfo>
	</wsdl:documentation>

	<wsdl:types>
		<!-- <xsd:schema targetNamespace="http://tempuri.org" xmlns:mrm="http://tempuri.org">
			<xsd:include schemaLocation="xsd_xsd0.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://tempuri.org" xmlns:mrm="http://tempuri.org">
			<xsd:include schemaLocation="xsd_xsd1.xsd" />
		</xsd:schema> -->
		
		<xsd:schema targetNamespace="http://tempuri.org" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          <xsd:complexType name="t_Srch_AxToNonAx_Ben_Dtl_Req">
        <xsd:sequence>
          <xsd:element ref="mrm:CustomerIdentifier"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element ibmSchExtn:docRoot="true" name="getSearchAxisToAxisBeneficiaryDtlRequest" type="mrm:t_Srch_AxToNonAx_Ben_Dtl_Req"/>
            <xsd:complexType name="t_Srch_AxToNonAx_Ben_Dtl_Rsp">
        <xsd:sequence>
          <xsd:element ref="mrm:NumberOfRecords"/>
          <xsd:element ref="mrm:FoundFlag"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="mrm:getAxisToAxisBeneficiaryDetails"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element ibmSchExtn:docRoot="true" name="getSearchAxisToAxisBeneficiaryDtlResponse" type="mrm:t_Srch_AxToNonAx_Ben_Dtl_Rsp"/>
            <xsd:element ibmSchExtn:docRoot="true" name="getSearchAxisToNonAxisBeneficiaryDtlRequest" type="mrm:t_get_Srch_AxToNonAx_Ben_Dtl_Req"/>
            <xsd:element ibmSchExtn:docRoot="true" name="getSearchAxisToNonAxisBeneficiaryDtlResponse" type="mrm:t_get_Srch_AxToNonAx_Ben_Dtl_Rsp"/>
            <xsd:element name="get_ListOfSavingsAcc_Req" type="mrm:t_get_ListOfSA_Req"/>
            <xsd:element name="get_ListOfSavingsAcc_Rsp" type="mrm:t_get_ListOfSA_Rsp"/>
            <xsd:element name="get_ListOfSBA_Req" type="mrm:t_get_ListOfSA_Req"/>
            <xsd:element name="get_ListOfSBA_Rsp" type="mrm:t_get_ListOfSA_Rsp"/>
            <xsd:element name="getAxisToAxisBeneficiaryDetails" type="mrm:_get_AxToAx_BeneficiaryDetails"/>
            <xsd:element name="getAxisToNonAxisBeneficiaryDetails" type="mrm:_get_AxToNonAx_BeneficiaryDetails"/>
            <xsd:element name="CustomerIdentifier" type="xsd:string"/>
            <xsd:element name="CoolingPeriod" type="xsd:int"/>
            <xsd:complexType name="t_get_Srch_AxToNonAx_Ben_Dtl_Req">
        <xsd:sequence>
          <xsd:element ref="mrm:CustomerIdentifier"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_get_Srch_AxToNonAx_Ben_Dtl_Rsp">
        <xsd:sequence>
          <xsd:element ref="mrm:NumberOfRecords"/>
          <xsd:element ref="mrm:FoundFlag"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="mrm:getAxisToNonAxisBeneficiaryDetails"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_get_ListOfSA_Req">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="mrm:CustomerIdentifier"/>
          <xsd:element minOccurs="0" ref="mrm:UserID"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_get_ListOfSA_Rsp">
        <xsd:sequence>
          <xsd:element ref="mrm:ACID"/>
          <xsd:element ref="mrm:Ac_Type"/>
          <xsd:element ref="mrm:Ac_Cat"/>
          <xsd:element ref="mrm:Branch_Id"/>
          <xsd:element ref="mrm:Ac_Bal"/>
          <xsd:element ref="mrm:CustomerIdentifier"/>
          <xsd:element ref="mrm:AcName"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="UserID" type="xsd:string"/>
            <xsd:element name="ACID" type="xsd:string"/>
            <xsd:element name="Ac_Type" type="xsd:string"/>
            <xsd:element name="Ac_Cat" type="xsd:string"/>
            <xsd:element name="Currency" type="xsd:string"/>
            <xsd:element name="Branch_Id" type="xsd:string"/>
            <xsd:element name="Ac_Bal" type="xsd:string"/>
            <xsd:element name="BeneficiaryAcctCurrency" type="xsd:string"/>
            <xsd:element name="Benf_Acc_No" type="xsd:string"/>
            <xsd:element name="BeneficiaryBranchIdentifier" type="xsd:string"/>
            <xsd:element name="Status" type="xsd:string"/>
            <xsd:element name="RModIdentifier" type="xsd:string"/>
            <xsd:element name="RModTime" type="xsd:string"/>
            <xsd:element name="RCREID" type="xsd:string"/>
            <xsd:element name="RCRETime" type="xsd:string"/>
            <xsd:element name="FillerField2" type="xsd:string"/>
            <xsd:element name="FillerField3" type="xsd:string"/>
            <xsd:element name="DeleteFlag" type="xsd:string"/>
            <xsd:element name="PayeeListIdentifier" type="xsd:string"/>
            <xsd:element name="UBPUserIdentifier" type="xsd:string"/>
            <xsd:element name="BeneficiaryName" type="xsd:string"/>
            <xsd:element name="BeneficiaryAcctNumber" type="xsd:string"/>
            <xsd:element name="BeneficiaryIFSC" type="xsd:string"/>
            <xsd:element name="NumberOfRecords" type="xsd:string"/>
            <xsd:element name="FoundFlag" type="xsd:string"/>
            <xsd:element name="RegistrationIdentifier" type="xsd:string"/>
            <xsd:element name="BayUserIdentifier" type="xsd:string"/>
            <xsd:element name="BeneficiaryNickName" type="xsd:string"/>
            <xsd:element name="BeneficiaryAccName" type="xsd:string"/>
            <xsd:element name="BeneficiaryAcctCategory" type="xsd:string"/>
            <xsd:element name="BeneficiaryAcctType" type="xsd:string"/>
            <xsd:element name="BenfAccCurrency" type="xsd:string"/>
            <xsd:element name="BenfAccNO" type="xsd:string"/>
            <xsd:element name="BenfBranchID" type="xsd:string"/>
            <xsd:element name="failureCount" type="xsd:string"/>
            <xsd:complexType name="t_AddBenfRegServiceAxToAxReq">
        <xsd:sequence>
          <xsd:element ref="mrm:DbTs"/>
          <xsd:element ref="mrm:BankID"/>
          <xsd:element ref="mrm:RegistrationIdentifier"/>
          <xsd:element ref="mrm:BayUserIdentifier"/>
          <xsd:element ref="mrm:BeneficiaryNickName"/>
          <xsd:element ref="mrm:BeneficiaryAccName"/>
          <xsd:element ref="mrm:BeneficiaryAcctCategory"/>
          <xsd:element ref="mrm:BeneficiaryAcctType"/>
          <xsd:element ref="mrm:BenfAccCurrency"/>
          <xsd:element ref="mrm:BenfAccNO"/>
          <xsd:element ref="mrm:BenfBranchID"/>
          <xsd:element ref="mrm:Status"/>
          <xsd:element ref="mrm:FreeField1"/>
          <xsd:element ref="mrm:FillerField2"/>
          <xsd:element ref="mrm:FillerField3"/>
          <xsd:element ref="mrm:FreeFlg"/>
          <xsd:element ref="mrm:DeleteFlag"/>
          <xsd:element ref="mrm:RModIdentifier"/>
          <xsd:element ref="mrm:RModTime"/>
          <xsd:element ref="mrm:RCREID"/>
          <xsd:element ref="mrm:RCRETime"/>
          <xsd:element ref="mrm:FreeNum"/>
          <xsd:element ref="mrm:FreeDate"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="addBenfRegServiceAxToAxReq" type="mrm:t_AddBenfRegServiceAxToAxReq"/>
            <xsd:complexType name="t_AddBenfRegServiceAxToAxResp">
        <xsd:sequence>
          <xsd:element ref="mrm:Status"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="addBenfRegServiceAxToAxResp" type="mrm:t_AddBenfRegServiceAxToAxResp"/>
            <xsd:element name="DbTs" type="xsd:string"/>
            <xsd:element name="BankID" type="xsd:string"/>
            <xsd:element name="FreeField1" type="xsd:string"/>
            <xsd:element name="FreeFlg" type="xsd:string"/>
            <xsd:element name="FreeNum" type="xsd:string"/>
            <xsd:element name="FreeDate" type="xsd:string"/>
            <xsd:element name="addBenfRegServiceAxToNonAxReq" type="mrm:t_addBenfRegServiceAxToNonAxReq"/>
            <xsd:element name="addBenfRegServiceAxToNonAxResp" type="mrm:t_addBenfRegServiceAxToNonAxResp"/>
            <xsd:complexType name="t_addBenfRegServiceAxToNonAxReq">
        <xsd:sequence>
          <xsd:sequence>
            <xsd:element ref="mrm:DCCUserID"/>
            <xsd:element ref="mrm:PayeeNickName"/>
            <xsd:element ref="mrm:BeneficiaryName"/>
            <xsd:element ref="mrm:BeneficiaryAcctNumber"/>
            <xsd:element ref="mrm:BeneficiaryIFSC"/>
            <xsd:element ref="mrm:CustomerIdentifier"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_addBenfRegServiceAxToNonAxResp">
        <xsd:sequence>
          <xsd:element ref="mrm:Status"/>
          <xsd:element minOccurs="0" ref="mrm:ErrCode"/>
          <xsd:element minOccurs="0" ref="mrm:ErrText"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="_get_AxToAx_BeneficiaryDetails">
        <xsd:sequence maxOccurs="1" minOccurs="1">
          <xsd:element ref="mrm:RegistrationIdentifier"/>
          
          <xsd:element ref="mrm:BeneficiaryNickName"/>
          <xsd:element ref="mrm:BeneficiaryAccName"/>
          <xsd:element ref="mrm:BeneficiaryAcctCategory"/>
          <xsd:element ref="mrm:BeneficiaryAcctCurrency"/>
          <xsd:element ref="mrm:BeneficiaryAcctType"/>
          <xsd:element ref="mrm:BeneficiaryAcctNumber"/>
          <xsd:element ref="mrm:BeneficiaryBranchIdentifier"/>
          <xsd:element ref="mrm:Status"/>
          
          <xsd:element ref="mrm:DeleteFlag"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="_get_AxToNonAx_BeneficiaryDetails">
        <xsd:sequence maxOccurs="1" minOccurs="1">
          <xsd:element ref="mrm:PayeeListIdentifier"/>
          
          <xsd:element ref="mrm:PayeeNickName"/>
          <xsd:element ref="mrm:DeleteFlag"/>
          <xsd:element ref="mrm:BeneficiaryName"/>
          <xsd:element ref="mrm:BeneficiaryAcctNumber"/>
          <xsd:element ref="mrm:BeneficiaryIFSC"/>
          
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="AcName" type="xsd:string"/>
            <xsd:element name="ErrText" type="xsd:string"/>
            <xsd:element name="ErrCode" type="xsd:string"/>
            <xsd:element name="DCCUserID" type="xsd:string"/>
            <xsd:element name="PayeeNickName" type="xsd:string"/>
            <xsd:element name="PayeeID" type="xsd:string"/>
            <xsd:element name="CountryCode" type="xsd:string"/>
            <xsd:element name="MobileNO" type="xsd:string"/>
            <xsd:element name="Operator" type="xsd:string"/>
            <xsd:element name="Circle" type="xsd:string"/>
            <xsd:complexType name="t_getMobileBeneReq">
        <xsd:sequence>
          <xsd:element ref="mrm:CustomerIdentifier"/>
          <xsd:element ref="mrm:PayeeID"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_getMobileBeneResp">
        <xsd:sequence>
          <xsd:element ref="mrm:UBPUserIdentifier"/>
          <xsd:element ref="mrm:PayeeNickName"/>
          <xsd:element ref="mrm:CountryCode"/>
          <xsd:element ref="mrm:MobileNO"/>
          <xsd:element ref="mrm:Operator"/>
          <xsd:element ref="mrm:Circle"/>
          <xsd:element ref="mrm:RModIdentifier"/>
          <xsd:element ref="mrm:RModTime"/>
          <xsd:element ref="mrm:RCREID"/>
          <xsd:element minOccurs="0" ref="mrm:ErrCode"/>
          <xsd:element minOccurs="0" ref="mrm:ErrText"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_addMobileBeneReq">
        <xsd:sequence>
          <xsd:element ref="mrm:CustomerIdentifier"/>
          <xsd:element ref="mrm:PayeeNickName"/>
          <xsd:element ref="mrm:CountryCode"/>
          <xsd:element ref="mrm:MobileNO"/>
          <xsd:element ref="mrm:Operator"/>
          <xsd:element ref="mrm:Circle"/>
          <xsd:element ref="mrm:PayeeID"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_addMobileBeneResp">
        <xsd:sequence>
          <xsd:element ref="mrm:Status"/>
          <xsd:element minOccurs="0" ref="mrm:ErrCode"/>
          <xsd:element minOccurs="0" ref="mrm:ErrText"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="getMobileBeneReq" type="mrm:t_getMobileBeneReq"/>
            <xsd:element name="getMobileBeneResp" type="mrm:t_getMobileBeneResp"/>
            <xsd:element name="addMobileBeneReq" type="mrm:t_addMobileBeneReq"/>
            <xsd:element name="addMobileBeneResp" type="mrm:t_addMobileBeneResp"/>
            <xsd:complexType name="t_getMobileBeneDrCardReq">
        <xsd:sequence>
          <xsd:element ref="mrm:CustomerIdentifier"/>
          <xsd:element ref="mrm:PayeeID"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_getMobileBeneDrCardResp">
        <xsd:sequence>
          <xsd:element ref="mrm:UBPUserIdentifier"/>
          <xsd:element ref="mrm:PayeeNickName"/>
          <xsd:element ref="mrm:CountryCode"/>
          <xsd:element ref="mrm:MobileNO"/>
          <xsd:element ref="mrm:Operator"/>
          <xsd:element ref="mrm:Circle"/>
          <xsd:element ref="mrm:RModIdentifier"/>
          <xsd:element ref="mrm:RModTime"/>
          <xsd:element ref="mrm:RCREID"/>
          <xsd:element minOccurs="0" ref="mrm:ErrCode"/>
          <xsd:element minOccurs="0" ref="mrm:ErrText"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="getMobileBeneDrCardReq" type="mrm:t_getMobileBeneReq"/>
            <xsd:element name="getMobileBeneDrCardResp" type="mrm:t_getMobileBeneResp"/>
            <xsd:complexType name="t_getLoginFailureCountReq">
        <xsd:sequence>
          <xsd:sequence>
            <xsd:element ref="mrm:RCREID"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="t_getLoginFailureCountResp">
        <xsd:sequence>
          <xsd:element ref="mrm:failureCount"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="getLoginFailureCountReq" type="mrm:t_getLoginFailureCountReq"/>
            <xsd:element name="getLoginFailureCountResp" type="mrm:t_getLoginFailureCountResp"/>
        </xsd:schema>
        
        <xsd:schema targetNamespace="http://tempuri.org" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                                    <xsd:element ibmSchExtn:docRoot="true" name="subHeader" type="mrm:t_Header"/>
            <xsd:complexType name="t_Header">
        <xsd:sequence maxOccurs="1" minOccurs="1">
          <xsd:element ref="mrm:UniqueId"/>
          <xsd:element ref="mrm:ServiceRequestId"/>
          <xsd:element ref="mrm:ServiceRequestVersion"/>
          <xsd:element ref="mrm:ChannelId"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element name="UniqueId" type="xsd:string"/>
            <xsd:element name="ServiceRequestId" type="xsd:string"/>
            <xsd:element name="ServiceRequestVersion" type="xsd:string"/>
            <xsd:element name="ChannelId" type="xsd:string"/>
        </xsd:schema>
		
	</wsdl:types>
	
	<wsdl:message name="subHeader">
		<wsdl:part element="tns:subHeader" name="subHeader" />
	</wsdl:message>

	<wsdl:message name="get_Srch_AxToNonAx_Ben_Details_in">
		<wsdl:part element="tns:getSearchAxisToNonAxisBeneficiaryDtlRequest"
			name="get_Srch_AxToNonAx_Ben_Dtl_Req" />
	</wsdl:message>
	<wsdl:message name="get_Srch_AxToNonAx_Ben_Details_out">
		<wsdl:part element="tns:getSearchAxisToNonAxisBeneficiaryDtlResponse"
			name="get_Srch_AxToNonAx_Ben_Dtl_Rsp" />
	</wsdl:message>

	<wsdl:message name="get_Srch_AxToAx_BenDetails_in">
		<wsdl:part element="tns:getSearchAxisToAxisBeneficiaryDtlRequest"
			name="getSearchAxisToAxisBeneficiaryDtlRequest" />
	</wsdl:message>
	<wsdl:message name="get_Srch_AxToAx_BenDetails_out">
		<wsdl:part element="tns:getSearchAxisToAxisBeneficiaryDtlResponse"
			name="get_Srch_AxToAx_Ben_Dtl_Rsp" />
	</wsdl:message>







	<wsdl:portType name="InternetBanking_MSPPortType">

		<wsdl:operation name="getSearchAxisToNonAxisBeneficiaryDetails">
			<wsdl:input message="tns:get_Srch_AxToNonAx_Ben_Details_in"
				name="get_Srch_AxToNonAx_Ben_Details_Input" />
			<wsdl:output message="tns:get_Srch_AxToNonAx_Ben_Details_out"
				name="get_Srch_AxToNonAx_Ben_Details_Output" />
		</wsdl:operation>
		<wsdl:operation name="getSearchAxisToAxisBeneficiaryDetails">
			<wsdl:input message="tns:get_Srch_AxToAx_BenDetails_in"
				name="get_Srch_AxToAx_BenDetails_Input" />
			<wsdl:output message="tns:get_Srch_AxToAx_BenDetails_out"
				name="get_Srch_AxToAx_BenDetails_Output" />
		</wsdl:operation>




	</wsdl:portType>


	<wsdl:binding name="InternetBanking_MSPSOAP_HTTP_Binding"
		type="tns:InternetBanking_MSPPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getSearchAxisToNonAxisBeneficiaryDetails">
			<soap:operation soapAction="" />
			<wsdl:input name="get_Srch_AxToNonAx_Ben_Details_Input">
				<soap:body parts="get_Srch_AxToNonAx_Ben_Dtl_Req" use="literal" />
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output name="get_Srch_AxToNonAx_Ben_Details_Output">
				<soap:body parts="get_Srch_AxToNonAx_Ben_Dtl_Rsp" use="literal" />
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSearchAxisToAxisBeneficiaryDetails">
			<soap:operation soapAction="" />
			<wsdl:input name="get_Srch_AxToAx_BenDetails_Input">
				<soap:body parts="getSearchAxisToAxisBeneficiaryDtlRequest"
					use="literal" />
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output name="get_Srch_AxToAx_BenDetails_Output">
				<soap:body parts="get_Srch_AxToAx_Ben_Dtl_Rsp" use="literal" />
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>




	</wsdl:binding>

	<wsdl:service name="InternetBankingMWService">
		<wsdl:port binding="tns:InternetBanking_MSPSOAP_HTTP_Binding"
			name="InternetBankingPort">
			<soap:address location="http://hackathon.axisbank.com:8523/InternetBankingMWService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>