docs/HACKATHON_WSDL/HACKATHON_WSDL/PinAuthenticationMWService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	name="PinAuthenticationMWService" targetNamespace="http://tempuri.org/PinAuthenticationMWService"
	xmlns:oldtns1="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://tempuri.org/PinAuthenticationMWService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>
		<wsdl:appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<binding hasEncoding="false" imported="true"
					name="PinAuthenticationMWServiceSOAP_HTTP_Binding"
					originalBindingStyle="document" />
			</MRWSDLAppInfo>
		</wsdl:appinfo>
	</wsdl:documentation>


	<wsdl:types>
		
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://tempuri.org" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:mrm="http://tempuri.org/PinAuthenticationMWService"
	xmlns:oldtns1="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">


	<xsd:element name="UniqueId" type="xsd:string" />
	<xsd:element name="ServiceRequestId" type="xsd:string" />
	<xsd:element name="ServiceRequestVersion" type="xsd:string" />
	<xsd:element name="ChannelId" type="xsd:string" />
	<xsd:element name="ExpiryDate" type="xsd:string" />
	<xsd:element name="Pin" type="xsd:string" />
	<xsd:element name="CardNo" type="xsd:string" />
	<xsd:element name="Currency" type="xsd:string" />
	<xsd:element name="ProductCode" type="xsd:string" />
	<xsd:element name="CustomerName" type="xsd:string" />
	<xsd:element name="CustomerAccountNumber" type="xsd:string" />
	<xsd:element name="CustomerId" type="xsd:string" />
	<xsd:element name="RspCode" type="xsd:string" />
	<xsd:element name="RspDesc" type="xsd:string" />
	<xsd:element ibmSchExtn:docRoot="true" name="PinAuthenticateRequest"
		type="oldtns1:t_PinAuthenticateRequest" />
	<xsd:element ibmSchExtn:docRoot="true" name="PinAuthenticateResponse"
		type="oldtns1:t_PinAuthenticateResponse" />
	<xsd:complexType name="t_PinAuthenticateRequest">
		<xsd:sequence maxOccurs="1" minOccurs="1">
			<xsd:element ref="oldtns1:ExpiryDate" />
			<xsd:element ref="oldtns1:Pin" />
			<xsd:element ref="oldtns1:CardNo" />
			<xsd:element ref="oldtns1:Currency" />
			<xsd:element ref="oldtns1:ProductCode" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="t_PinAuthenticateResponse">
		<xsd:sequence maxOccurs="1" minOccurs="0">
			<xsd:element maxOccurs="1" minOccurs="0"
				ref="oldtns1:CustomerName" />
			<xsd:element maxOccurs="1" minOccurs="0"
				ref="oldtns1:CustomerAccountNumber" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="oldtns1:CustomerId" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="oldtns1:RspCode" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="oldtns1:RspDesc" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="t_Header">
		<xsd:sequence maxOccurs="1" minOccurs="1">
			<xsd:element ref="oldtns1:UniqueId" />
			<xsd:element ref="oldtns1:ServiceRequestId" />
			<xsd:element ref="oldtns1:ServiceRequestVersion" />
			<xsd:element ref="oldtns1:ChannelId" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="subHeader"
		type="oldtns1:t_Header" />
	<xsd:element name="t_PinRequest" type="oldtns1:t_PinAuthenticateRequest" />
	<xsd:element name="t_PinResponse" type="oldtns1:t_PinAuthenticateResponse" />
	<xsd:element name="t_Header" type="oldtns1:t_Header" />
</xsd:schema>
	</wsdl:types>

	<wsdl:message name="subHeader">
		<wsdl:part element="oldtns1:subHeader" name="subHeader" />
	</wsdl:message>


	<wsdl:message name="AuthenticatePin_in">
		<wsdl:part element="oldtns1:PinAuthenticateRequest" name="PinRequest" />
	</wsdl:message>
	<wsdl:message name="AuthenticatePin_out">
		<wsdl:part element="oldtns1:PinAuthenticateResponse" name="PinResponse" />
	</wsdl:message>
	<wsdl:portType name="PinAuthenticationMWServicePortType">
		<wsdl:operation name="VerifyPin">
			<wsdl:input message="tns:AuthenticatePin_in" name="AuthenticatePin_Input" />
			<wsdl:output message="tns:AuthenticatePin_out" name="AuthenticatePin_Output" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PinAuthenticationMWServiceSOAP_HTTP_Binding"
		type="tns:PinAuthenticationMWServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="VerifyPin">
			<soap:operation soapAction="" />
			<wsdl:input name="AuthenticatePin_Input">
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
				<soap:body parts="PinRequest" use="literal" />
			</wsdl:input>
			<wsdl:output name="AuthenticatePin_Output">
				<soap:header message="tns:subHeader" part="subHeader"
					use="literal" />
				<soap:body parts="PinResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PinAuthenticationMWService">
		<wsdl:port binding="tns:PinAuthenticationMWServiceSOAP_HTTP_Binding"
			name="PinAuthenticationMWServicePort">
			<soap:address location="http://hackathon.axisbank.com:8523/PinAuthenticationMWService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>